<div class="alert center-block {{ alertState.type }}" role="alert" *ngIf="alertState.shouldShow">{{ alertState.message }}</div>

<div class="file-upload" draggable="true" ngClass="{{dragAreaClass}}">
    <div class="row">
        <div class="col-md-12 text-center">
            {{ uploadText }}
            <input type="file" #file (change)="onFileChange($event)" style="display:none" />
        </div>
    </div>

</div>

<!-- <label class="btn btn-default">
	<input type="file" (change)="selectFile($event)">
</label>
 
<button class="btn btn-success" (click)="upload()">Upload</button> -->