<div class="container">
    <div class="alert center-block alert-dismissible {{ alertState.type }}" role="alert" *ngIf="alertState.shouldShow">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ alertState.message }}
    </div>
    
    <div class="file-upload" draggable="true" ngClass="{{dragAreaClass}}">
        <div class="row">
            <div class="col-md-12 text-center">
                {{ uploadText }}
                <input type="file" #file (change)="onFileChange($event)" style="display:none" />
            </div>
        </div>
    
    </div>
</div>
