<div>
    <mat-card>
        <mat-card-title>Variant</mat-card-title>
        <mat-card-subtitle>{{ textVariant }}</mat-card-subtitle>
        <mat-form-field>
            <mat-select placeholder="Variant" [value]="currentVariant" (change)="onVariantChange($event)">
                <mat-option *ngFor="let variant of variants" [value]="variant.value">
                    {{ variant.text }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>

    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile class="resource" *ngFor="let resource of specificResourcesInformation; let even = even; let odd = odd">
                <mat-card class="resource" [ngClass]="{ odd: odd, even: even }">
                    <mat-card-title>{{ resource.name }}</mat-card-title>
                    <p>
                        <mat-grid-list cols="2" rowHeight="30px">
                            <mat-grid-tile>
                                <span class="description">Average Time With</span>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <span class="text">{{ resource.averageTimeWith }} s</span>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </p>
                    <p>
                        <mat-grid-list cols="2" rowHeight="30px">
                            <mat-grid-tile>
                                <span class="description">Average Time Without</span>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <span class="text">{{ resource.averageTimeWithout }} s</span>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </p>
                    <p>
                        <mat-grid-list cols="2" rowHeight="30px">
                            <mat-grid-tile>
                                <span class="description">Maximum Time With</span>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <span class="text">{{ resource.maximumTimeWith }} s</span>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </p>
                    <p>
                        <mat-grid-list cols="2" rowHeight="30px">
                            <mat-grid-tile>
                                <span class="description">Maximum Time Without</span>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <span class="text">{{ resource.maximumTimeWithout }} s</span>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </p>
                    <p>
                        <mat-grid-list cols="2" rowHeight="30px">
                            <mat-grid-tile>
                                <span class="description">Minimum Time With</span>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <span class="text">{{ resource.minimumTimeWith }} s</span>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </p>
                    <p>
                        <mat-grid-list cols="2" rowHeight="30px">
                            <mat-grid-tile>
                                <span class="description">Minimum Time Without</span>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <span class="text">{{ resource.minimumTimeWithout }} s</span>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </p>
                </mat-card>
        </mat-grid-tile>
    </mat-grid-list>    
</div>