.container {
    width: 90%;
    margin: 20px auto;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.navigation-buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-horizontal-stepper, .table {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
}

table, tr {
  border: 1px solid #ccc;
}

tr {
  height: 50px;
}

mat-select {
  max-width: 200px;
}

.table {
  width: 100%;
  overflow: auto;
}