.container {
    width: 90%;
    margin: 20px auto;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.navigation-buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-select {
  max-width: 200px;
}