<div class="container">

    <div class="alert center-block alert-dismissible {{ alertState.type }}" role="alert" *ngIf="alertState.shouldShow">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ alertState.message }}
    </div>
    
    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
    
    <div class="parameter-request" *ngIf="isAskingForFields">
        <button type="button" mat-raised-button color="primary" (click)="onSubmiTestClicked()">Go to Results Sandbox</button>
        <mat-card>
            <mat-card-title>Parameters</mat-card-title>
            <mat-card-content>
                Please fill the information. For your convenience, the first row of the file you uploaded is shown below.
            </mat-card-content>

            <div class="table">
                <table>
                    <tr>
                        <th *ngFor="let header of headers">{{ header }}</th>
                    </tr>
                    <tr>
                        <td *ngFor="let col of firstLine">{{ col }}</td>
                    </tr>
                </table>
            </div>
        </mat-card>

        <div>
            <form [formGroup]="formActiveTime">
                <mat-horizontal-stepper [linear]="false" class="mat-elevation-z3">
                    <mat-step>
                        <ng-template matStepLabel>General</ng-template>
                        <p>
                            <mat-form-field>
                                <mat-select placeholder="Case ID field" formControlName="caseID">
                                    <mat-option *ngFor="let header of headers" [value]="header">
                                        {{ header }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-select placeholder="Resource field" formControlName="resource">
                                    <mat-option *ngFor="let header of headers" [value]="header">
                                        {{ header }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-select placeholder="Activity field" formControlName="activity">
                                    <mat-option *ngFor="let header of headers" [value]="header">
                                        {{ header }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
            
                        <p>
                            <mat-form-field>
                                <input matInput placeholder="Date time format" formControlName="dateTimeFormat">
                            </mat-form-field>
                        </p>
                        <div class="navigation-buttons">
                            <button type="button" mat-raised-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Type</ng-template>
                        <p>Select the type of log, in order to determine the best way of calculating active time.</p>
                        <p>
                            <mat-radio-group class="example-radio-group" formControlName="type">
                                <mat-radio-button *ngFor="let choice of typeChoices" name="type" [value]="choice">
                                    {{ choice }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </p>
                        <div class="navigation-buttons">
                            <button type="button" mat-raised-button matStepperPrevious>Back</button>
                            <button type="button" mat-raised-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Time params</ng-template>
                        <p>
                            <mat-form-field>
                                <mat-select placeholder="{{ parameterOneRequestPlaceholder }}" formControlName="parameterOne">
                                    <mat-option *ngFor="let header of headers" [value]="header">
                                        {{ header }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
            
                        <div *ngIf="shouldShowParameterTwo">
                            <p>
                                <mat-form-field>
                                    <mat-select placeholder="{{ parameterTwoRequestPlaceholder }}" formControlName="parameterTwo">
                                        <mat-option *ngFor="let header of headers" [value]="header">
                                            {{ header }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </p>
                        </div>
            
                        <div class="navigation-buttons">
                            <button type="button" mat-raised-button matStepperPrevious>Back</button>
                            <button type="button" mat-raised-button color="primary" (click)="onSubmitClicked()">Submit</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </div>
        
    
    </div>
    
    <mat-tab-group *ngIf="isShowingInformation" (selectedTabChange)="selectedTabChange($event)" [(selectedIndex)]="tabSelectedIndex" (animationDone)="animationDone()">
        <mat-tab label="Individual">
            <div><app-individual [parameters]="parameters" [isCurrentActiveTab]="isActive4"></app-individual></div>
        </mat-tab>
        <mat-tab label="Group by activity">
            <div><app-group [parameters]="parameters" [isCurrentActiveTab]="isActive5"></app-group></div>
        </mat-tab>
        <!-- <mat-tab label="Group by resource">
            <div><app-group-resource [parameters]="parameters" [isCurrentActiveTab]="isActive6"></app-group-resource></div>
        </mat-tab> -->
        <mat-tab label="By active time">
            <div><app-active-time [parameters]="parameters" [isCurrentActiveTab]="isActive1"></app-active-time></div>
        </mat-tab>
        <mat-tab label="By variant">
            <div><app-traces [parameters]="parameters" [isCurrentActiveTab]="isActive2"></app-traces></div>
        </mat-tab>
        <mat-tab label="By flow">
            <div><app-flows [parameters]="parameters" [isCurrentActiveTab]="isActive3"></app-flows></div>
        </mat-tab>        
    </mat-tab-group>
</div>